!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title spörks
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
  %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
  :css
    body {
      padding-top: 0px;
    }
      / Le fav and touch icons
  %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
  %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
%body
  %nav{:class => "navbar navbar-default", :role => "navigation"}
    %div{:class => "container-fluid"}
      %div{:class => "navbar-header"}
        %button{:type => "button", :class => "navbar-toggle", :data => {:toggle => "collapse", :target => "#bs-example-navbar-collapse-1"}}
          %span{:class => "sr-only"} Toggle navigation
          %span{:class => "icon-bar"}
          %span{:class => "icon-bar"}
          %span{:class => "icon-bar"} 
        %a{:class => "navbar-brand", :href => "#"} spörks
      %div{:class => "collapse navbar-collapse", :id => "bs-example-navbar-collapse-1"}
        %ul{:class => "nav navbar-nav"}
          %li{}
            %a{:href => "/"}Home
          %li{:class => "active"}
            %a{:href => "#"}Customers
          %li{}
            %a{:href => "#"}About
  %div{:align => "center"}
    %img{:align => "center", :src => "http://i.imgur.com/1dkYjUa.jpg"}
    %h1{} spörks
